

/*-- products-page --*/
.ads-list {
	width:33.333%;
	float:left;
}


.cart a
{
	text-decoration:none!important;
	font-weight:normal!important;
}

.mysearch
{
	border-left:1px solid #ccc!important;
}

.cart h3
{
	
	font-weight:normal!important;
}

.item h4
	{
		
		width:100%;
	}

.mymodal ul li a {
    width:100%!important;
}

.mymodal ul {
    margin-bottom:5px!important;
}
.mymodal ul li {
    margin-right:5px!important;
}

.select-box {
    background-color: #fff;
    padding: 10px 0px;
    box-shadow: 1px 3px 15px;
    margin: 40px 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.ads-list label {
	display: block;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-bottom: 6px;
}
.ads-list select {
	width: 70%;
    outline: none;
    color: #000;
    font-size: 15px;
    border: 1px solid #eee;
    padding: 7px 8px;
}
.btn-group.bootstrap-select.show-tick button {
    padding: 6px 10px;
}

#custom-search-input {
   
    border: solid 1px #c1c1c1;
    border-radius: 4px;
    
    background-color: #fff;
    width: 100%;
    color: #000;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 7px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
.input-lg {
    height: 29px;
    padding: 0px 10px;
    font-size: 15px;
    line-height: 1.3333333;
    border-radius: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
#custom-search-input .glyphicon-search {
    font-size: 16px;
}
.btn-default {
    border-color: #c1c1c1;
}
.btn {
    display: inline-block;
}
.search-hotel input[type="text"] {
  background:#fff;
  border: none;
  width: 81%;
  outline: none;
  padding: 11px 10px 10px 10px;
  font-size: 13px;
  color: #c4c4c4;
}
.search-hotel form input[type="submit"]{
  background: url(../images/search.png) no-repeat 13px 11px rgb(255, 137, 137);
  width: 44px;
  height: 39px;
  border: none;
  padding:0;
  margin-top: 0;
  }
.search-grid-left{
  padding: 15px;
  background:#f5f4f0;
  }
h3.agileits-sear-head {
    color: rgba(255, 76, 76, 0.86);
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 400;
}
.search-hotel{
padding: 15px 0;
border-bottom: 1px solid #e5e3db; 
}





@media (min-width: 299px) and (max-width: 480px)	
{	
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
    margin-bottom: 6px;
 }
 
 .select-box {
    background-color: #fff;
	box-shadow:0px 0px 6px #ccc;
    padding: 10px 0px;
    margin: 1px 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.mybtn
{
    float: right!important;
    width: 46%!important;
    font-size: 12px!important;
}

.box_1 {
    text-align: center;
    float: left;
    background-color: #846600;
    height: 31px;
    border-radius: 4px;
    padding-top: 3px;
}

.input-group .form-control:first-child, {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 35px;
}

#custom-search-input {
    padding: 3px;
    border: solid 1px #c1c1c1;
    border-radius: 4px;
   
    background-color: #fff;
    width: 100%;
    color: #000;
    height: 35px;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
    height: 28px;
}

	.recommendation {
    margin-top: 0em;
}



}

@media (min-width: 321px) and (max-width: 480px)	
{
	.recommendation {
    margin-top: 5em;
 }
}
@media (min-width: 641px) and (max-width: 1900px)	
{
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 170px;
 }
 
 
 
 
}




@media (max-width: 1023px) and (min-width: 640px)
{
	.city-search2 {
		float: left;
		left: 0%;
		position: absolute;
		top: 50px;
		width: 100%;
	}
	
	
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
    margin-bottom: 10px;
	}
}






@media (max-width: 1100px) and (min-width: 1024px)
{
.city-search2 {
    float: left;
    left: 0%;
    position: absolute;
    top: 150px;
    width: 100%;
}

}



















#slider-text{
  padding-top: 40px;
  display: block;
}
#slider-text .col-md-6{
  overflow: hidden;
}

#slider-text h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px auto;
  padding-left: 40px;
}
#slider-text h2::after{
 
  content: "";
  position: absolute;
  bottom: 35px;
  width: 100%;
  }

#itemslider h4{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 10px auto 3px;
}
#itemslider h5{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin: 3px auto 2px;
}
#itemslider h6{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;;
  font-size: 10px;
  margin: 2px auto 5px;
}

#slider-control img{
  padding-top: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 992px){
#slider-control img {
  padding-top: 70px;
  margin: 0 auto;
}
}



@media (max-width: 1900px) and (min-width: 641px)
{
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 150px;
}
}


.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3,
  .carousel-showmanymoveone .carousel-inner .cloneditem-4,
  .carousel-showmanymoveone .carousel-inner .cloneditem-5,
  .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
    transform: translate3d(16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
    transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
